$sm: 600px;
$md: 960px;
$lg: 1264px;
$xl: 1904px;

@mixin respond-to($media) {
  @if $media == sm {
    @media only screen and (min-width: $sm) and (max-width: $md - 1) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $md) and (max-width: $lg - 1) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $lg) and (max-width: $xl - 1) { @content; }
  }
  @else if $media == xl {
    @media only screen and (min-width: $xl) { @content; }
  }
}

.rel{
  position: relative;
}

.abs{
  position: absolute;
}